.container {
  .circle {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: orangered;
    transform: translate(calc(var(--x) * 1px - 50%), calc(var(--y) * 1px - 50%));
  }
}
