.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .progressbar {
    --bar-hight: 5px;
    --bar-width: 300px;
    --bar-color: rgb(255, 89, 0);
    --bar-color-temp: greenyellow;

    border: 1px solid var(--bar-color);
    height: var(--bar-hight);
    width: var(--bar-width);
    border-radius: var(--bar-hight);

    .progress-state {
      position: relative;
      background-color: var(--bar-color);
      border-radius: var(--bar-hight);
      width: calc(var(--state, 0) * 1%);
      height: var(--bar-hight);

      .grabber {
        position: absolute;
        right: 0;
        top: -100%;
        height: calc(var(--bar-hight) + 10px);
        width: calc(var(--bar-hight) + 10px);
        background-color: var(--bar-color);
        border-radius: 50%;
        border: 1px solid red;
        transition-property: opacity;
        transition-duration: 0.1s;
        cursor: grab;
      }

      .grabber:active {
        cursor: grabbing;
      }
    }
  }
}